<h1>Edit Bin:</h1>

<form action="/bins/<%=@bin.id%>" method="POST">
	<input id="hidden" type="hidden" name="_method" value="PATCH">
	<label>Name:</label>
	<input type="text" name="name" value="<%=@bin.name%>">
	<br></br>

	<label>Bin Size:</label>
	<input type="integer" name="bushel_capacity" value="<%=@bin.bushel_capacity%>">
	<br></br>

	<input type="submit" value="submit">
</form>