<h4>Here is a list of all your bins:</h4>
<% @bins.each do |bin| %>
	<p>Name: <%= bin.name %>, Size: <%= bin.bushel_capacity %> <a href="/bins/<%=bin.id%>/edit">Edit Bin</a> <a href="/bins/<%=bin.id%>/delete">Delete Bin</a></p>
<% end %>