<h1>Create Your Account:</h1>
<% if flash.has?(:message) %>
	<%= flash[:message] %>
	<br></br>
<% end %>

<form action="/signup" method="POST">
	<label>Username:</label>
	<input type="text" name="username">
	<br></br>

	<label>Password:</label>
	<input type="password" name="password">
	<br></br>

	<input type="submit" value="Sign Up">
</form>