<h1>Edit Your Account:</h1>

<form action="/users/<%=@user.id%>" method="POST">
	<input id="hidden" type="hidden" name="_method" value="PATCH">

	<label>Username:</label>
	<input type="text" name="username" value="<%=@user.username%>">
	<br></br>

	<label>Password:</label>
	<input type="password" name="password" value="<%=@user.password%>">
	<br></br>

	<input type="submit" value="submit">
</form>

<p><a href="/users/<%=@user.id%>/delete">Delete User</a></p>