<h1>Create a new Load:</h1>

<form action="/loads" method="POST">
	<label>Driver Name:</label>
	<input type="text" name="driver_name">
	<br></br>

	<label>Load-In-Weight:</label>
	<input type="integer" name="load_in_weight">
	<br></br>

	<label>Load-Out-Weight:</label>
	<input type="integer" name="load_out_weight">
	<br></br>

	<% Bin.all.each do |bin| %>
		<label><%= bin.name %></label>
		<input type="radio" id="bin_<%=bin.id%>" name="bin_id" value="<%=bin.id%>">
		<br></br>
	<% end %>
	
	<input type="submit" value="submit">
</form>