<h1>Sinatra App For Tracking Bin Loads</h1>
	<ul>
		<li>Built as an MVC Sinatra application</li>
		<li>Uses ActiveRecord</li>
		<li>Uses multiple models</li>
		<li>Has at least one has_many relationship on a User model, and one belongs_to relationship on another model</li>
		<li>Users can sign up, sign in, and sign out</li>
		<li>----</li>
		<li>Need to validate uniqueness of the user login attribute</li>
		<li>Need to let user update and delete account</li>
		<li>Need to validate user input so bad data cannot be persisted to the database</li>
		<li>Add Bonus: Display validation failures to user with error messages</li>
		<li>----</li>
	</ul>
