<h1>Sinatra App For Tracking Bin Loads</h1>
	<ul>
		<li>Built as an MVC Sinatra application</li>
		<li>Uses ActiveRecord</li>
		<li>Uses multiple models</li>
		<li>Has at least one has_many relationship on a User model, and one belongs_to relationship on another model</li>
		<li>Users can sign up, sign in, and sign out</li>
		<li>User can update and delete account</li>
		<li>Validates user input so bad data cannot be persisted to the database</li>
		<li>Validates uniqueness of the user login attribute</li>
		<li>Added Bonus: Displays validation failures to user with error messages</li>
	</ul>
