<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bin Storage</title>
  <meta name="description" content="Create, Read, Update, and Delete data for your Bin Storage">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">

  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body class="app">
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  
    <nav class="app-nav">
      <ul>
        <li><a href="/dashboard">Overview</a></li>
        <li><a href="/bins">All Bins</a></li>
        <li><a href="/loads">All Loads</a></li>
        <li><a href="/bins/new">New Bin</a></li>
        <li><a href="/loads/new">New Load</a></li>
      </ul>
    </nav>
    <nav class="app-nav user-nav">
      <ul>
        <% if logged_in? %>
          <li>You're logged in as: <b><a href="/users/<%=current_user.id%>"><%= current_user.username %>!</a></b> </li>
          <li> | </li>
          <li> <a href="/logout">Log Out</a> </li>
          <% else %>
          <li> <a href="/login">Log In</a> </li>
          <li> - or - </li>
          <li> <a href="/signup">Sign Up</a> </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>

</body>

</html>
